@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0e252e;
  --secondary: #0e252e;
  --accent: #2a4e2f;
  --accent2: #fdf6ec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-accent2: var(--accent2);
  --font-serif: var(--font-lora);
  --font-anton: var(--font-anton);
  --breakpoint-all: 20rem;
  --breakpoint-mobile: 440px;
  --breakpoint-tab: 51.3rem;
  --breakpoint-laptop: 80rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #143948;
    --secondary: #0e252e;
    --accent: #2a4e2f;
    --accent2: #fdf6ec;
  }
}

@font-face {
  font-family: "MyCustomFont2";
  src: url(/font/Heathergreen.otf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyCustomFont";
  src: url(/font/ClashGrotesk-Variable.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: "MyCustomFont", sans-serif;
}

.font-sans {
  font-family: "MyCustomFont", sans-serif;
}

.bb {
  border: #0a0a0a solid 1px;
}

.btn {
  border: var(--background) solid 1px;
  color: var(--background);
  padding: 5px;
  border-radius: 10px;

  &:hover {
    background-color: #f4a460;
    border: #f4a460 1px solid;
    transition: all 500ms ease-in-out;
  }
}

.sidebar {
  position: fixed;
  right: 0;
  width: 70vw;
  height: 100vh;
  top: 0;
  background: var(--background);
  font-size: 0.65em;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: left;
  top: 15%;
  font-weight: bold;
  z-index: 100 !important;
}

.nav ul {
  list-style-type: none;

  li {
    position: relative;
    margin: 3.2em 0;
  }

  a {
    line-height: 4em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    color: var(--foreground);
    display: block;
    transition: all ease-out 400ms;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(
        to right,
        var(--color-accent),
        var(--color-secondary)
      );
    }
    &:active {
      color: var(--secondary);
    }
    &:not(:active)::after {
      opacity: 0.2;
      color: rgb(21, 7, 7);
    }
  }
}

.navanime {
  animation: navbar 1s forwards;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 10;
}

.flexcent {
  display: flex;
  align-items: center;
  justify-content: center;
}
