@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #352111;
  --secondary: #f4a460;
  --accent: #2a4e2f;
  --accent2: #fdf6ec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-accent2: var(--accent2);
  --font-serif: var(--font-lora);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-montserrat);
  --breakpoint-all: 20rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

.bb {
  border: #0a0a0a solid 1px;
}

.btn {
  border: #ffffff solid 1px;
  color: #ffffff;
  padding: 5px;
  border-radius: 10px;

  &:hover {
    background-color: #f4a460;
    border: #f4a460 1px solid;
    transition: all 500ms ease-in-out;
  }
}

.sidebar {
  position: fixed;
  right: 0;
  width: 70vw;
  height: 100vh;
  top: 0;
  background: var(--background);
  font-size: 0.65em;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: left;
  top: 15%;
  font-weight: bold;
  z-index: 100 !important;
}

.nav ul {
  list-style-type: none;

  li {
    position: relative;
    margin: 3.2em 0;
  }

  a {
    line-height: 4em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    color: var(--foreground);
    display: block;
    transition: all ease-out 400ms;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(
        to right,
        var(--color-accent2),
        var(--color-secondary)
      );
    }
    &:active {
      color: var(--secondary);
    }
    &:not(:active)::after {
      opacity: 0.2;
      color: rgb(21, 7, 7);
    }
  }
}

.navanime {
  animation: navbar 1s forwards;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 10;
}
